.container {
    max-width: 70rem;
    margin: 0 auto; // ToBottom LeftRight
    padding: 0 $rem-medium;
    text-align: center;
    //background-color: $dark-blue;
}
// dark-blue with value of #333745 - body-background