.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}
// Avoud jarring experience wase in/out
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $rem-large;
    text-align: center;
}

.modal__title {
    margin: 0 0 $rem-medium 0;
}

.model__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $rem-medium 0;
    word-break: break-all;
}