// Colors
$black: #20222b;
$cyan: cyan;
$dark-blue: #333745;
$light-blue: #464b5e;
$purple: #8357c5;
$partial-white: #a5afd7;

// Font
$rem-medium: 1.6rem;
$rem-large: 3.2rem;
$rem-extra-large: 4.8rem;
$rem-small: 1.2rem;
$desktop-breakpoint: 45rem;